<div class="col-md-8 offset-md-2 jumbotron">
    <h1>Add Food</h1>
    <form method="post" action="/home/addfood">
        <input type="text" name="name" placeholder="Name" class="form-control" />
        <br />
        <br />
        <input type="text" name="price" placeholder="Price" class="form-control" />
        <br />
        <br />
        <input type="text" name="caloriecount" placeholder="Calories" class="form-control" />
        <br />
        <br />
        <button class="btn btn-danger btn-lg btn-block">Add</button>
    </form>
</div>