

<div class="col-md-8 offset-md-2 mt-5">
    <form method="post" action="/home/postints">
        <input type="text" name="numbers" placeholder="Number 0" class="form-control" />
        <input type="text" name="numbers" placeholder="Number 1" class="form-control" />
        <input type="text" name="numbers" placeholder="Number 2" class="form-control" />
        <input type="text" name="numbers" placeholder="Number 3" class="form-control" />
        <button class="btn btn-danger btn-lg btn-block">Submit Numbers</button>
    </form>
</div>